<?xml version="1.0"?>
<config>
    <modules>
        <IsAmAre_PaypalNoShip>
            <version>1.0.0</version>
        </IsAmAre_PaypalNoShip>
    </modules>
    <global>
        <helpers>
            <paypalnoship>
                <class>IsAmAre_PaypalNoShip_Helper</class>
            </paypalnoship>
        </helpers>
        <models>
            <paypalnoship>
                <class>IsAmAre_PaypalNoShip_Model</class>
                <resourceModel>paypalnoship_mysql4</resourceModel>
            </paypalnoship>
            <paypal>
                <rewrite>
                    <api_nvp>IsAmAre_PaypalNoShip_Model_Paypal_Api_Nvp</api_nvp>
                    <api_standard>IsAmAre_PaypalNoShip_Model_Paypal_Api_Standard</api_standard>
                </rewrite>
            </paypal>
        </models>
    </global>
</config> 